.card img {
    height: 3.5in;
    width: 2.5in;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

#flavorText {
    text-align: center;
}

.selected {
    transform: scale(1.5);
}