.card img {
    height: 40vh;
}
.bell img {
    height: .5in;
    width: .5in;
    display:inline-block;  
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    gap: 30px;
}

#flavorText {
    text-align: center;
}

.selected {
    transform: scale(1.07);
    border: 3px solid red;
}