@font-face {
    font-family: darkmode;
    src: url(./fonts/DarkmodeRegular-X35Oo.ttf);
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    font-family: darkmode;
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
   
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.middle { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: rgba(84, 81, 81, 0.277);
    backdrop-filter: blur(5px);
    padding: 0px 10px;
}


.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardWrapper {
    flex: 1;
}
.card {
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(29, 23, 23);
    opacity: 80%;
   
}
.bell {
    height: 1in;
    filter:brightness(90%);
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    gap: 30px;
    flex: 2;
    height: 20%;
}

#flavorText {
    text-align: center;
    align-self: center;
    font-size: 2.5em;
}

.selected {
    transform: scale(1.07);
    border: 2px solid red;
}